:root {
  --main-ligther-color: #1e2738;
  --main-dark-color: #0f172a;
  --main-blue-color: #1985a1;
  --white: #fff;
  --dark-txt-color: #94a3b8;
  --grey-color: rgba(71, 85, 105, 0.7);
}
/* Font family

Poppins

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-dark-color);
  font-family: "Poppins", sans-serif;
  height: 1400px;
}

.no-scroll {
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

body.no-scroll .open-mobile-nav {
  margin-right: calc(100vw - 100%);
}

.active {
  color: #94a3b8;
}

.nav-btn,
.main-btn {
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-border-effect {
  font-weight: 600;
}

.btn-border-effect svg {
  height: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.btn-border-effect rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-border-effect:hover {
  background: var(--main-blue-color);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-border-effect:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 88;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-main-light {
  background: var(--main-blue-color);
}
.btn-main-light-transparent {
  background: var(--grey-color);
}
.btn-main-light:hover {
  background: var(--grey-color);
}
.btn-main-light:hover rect,
.btn-main-light-transparent:hover rect {
  stroke-dashoffset: 48;
}

/* Sub navigation */
.sub-nav {
  background: var(--grey-color);
  transform: translateY(-100%); /* Start hidden */
  transition: transform 0.3s ease-in-out; /* Add transition */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.sub-nav .btn-border-effect {
  background: var(--main-blue-color);
}
.sub-nav .btn-border-effect:hover rect {
  stroke-dashoffset: 48;
}

/* Hamburger menu - mobile  */
.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: var(--main-dark-color);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.mobile-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.mobile-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: var(--main-blue-color);
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.mobile-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

.mobile-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.mobile-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

.mobile-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.mobile-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.mobile-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.mobile-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.mobile-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.mobile-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.mobile-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

.mobile-nav ul,
.mobile-nav li {
  list-style: none;
  padding: 0;
}
.mobile-nav a {
  display: block;
  padding: 12px 0;
  color: var(--white);
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s linear !important;
}

.mobile-nav a:hover {
  color: var(--main-ligther-color);
  transition: color 0.2s linear !important;
}

.open-mobile-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-mobile-nav:focus {
  outline: none;
}
.hamburger-menu {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: var(--white);
  transform: skew(5deg);
  transition: all 0.275s;
}

.hamburger-menu:after,
.hamburger-menu:before {
  content: "";
  display: block;
  height: 100%;
  background: var(--white);
  transition: all 0.275s;
}

.hamburger-menu:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.hamburger-menu:before {
  transform: translateY(-16px) skew(-10deg);
}

.is-open .hamburger-menu {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .hamburger-menu:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .hamburger-menu:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* Hero */

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("./img/hero_test.webp") no-repeat center center/cover;
  filter: grayscale(100%) brightness(30%);
  /* filter: sepia(300%); */
  /* filter: invert(100%); */
  /* filter: brightness(150%); */
  /* filter: contrast(200%); */
  /* filter: saturate(0%); */
  /* filter: blur(2px); */
}
.hero-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.5);
  z-index: 1;
}
